* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

a.navLink {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  margin-right: 20px;
  top: 2px;
  position: relative;
}

div.formBlock {
  display: flex;
  flex-direction: row;
  margin: 40px;
  justify-content: center;
  padding: 40px;
  border-radius: 10px;
}

div.formBlockChild {
  /* background-color: rgb(250, 250, 210, 0.6);   */
  padding: inherit;
  display: flex;
  flex-direction: column;
}

#root {
  height: 100vh;
}