.taskItemControl {
  max-width: 350px;
  padding: 0;
  display: inline-block;
  margin: 20px;
  background-color: cornsilk;
  border: 1px solid gray;
}

.taskControlToolbar {
  display: flex;
  justify-content: end;
}

.taskItemTitle {
  width: auto;
}
.taskItemTitle > p {
  position: relative;
  top: 5px;
  width: 255px;
  justify-content: left;
  padding-left: 5px;
}

.taskItemHeader,
.taskItemToolBar {
  background-color: darkslategray;
}

.taskItemHeader,
.taskItemContent,
.taskItemFooter {
  width: auto;
  padding: 5px;
  display: flex;
  justify-content: center;
  font-size: large;
}

.taskItemContent {
  color: black;
  border-bottom: 1px solid gray;
  height: 100px;
  overflow: auto;
}
.taskItemContentTextContainer {
  width: auto;
  height: auto;
  margin: auto;
}

.taskItemHeader,
.taskItemFooter {
  color: white;
}

.taskItemContent,
.taskItemInfo {
  padding: 5px;
}
